<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('layout/header') %>
    <h1 class="justify-content-center d-flex mb-4">Login Page</h1>
    <div class=" justify-content-center d-flex">
        <form>
            <div class="form-group row">
              <label for="inputEmail3" class="col-md-4 col-form-label">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <div class="form-group row my-4">
              <label for="inputPassword3" class="col-sm-4 col-form-label">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Log in</button>
              </div>
            </div>
          </form>
    </div>

    <%- include('layout/footer') %>
</body>
</html>